/* banner section */
.banner {
    height: 50vh;
    background: url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* end */

/* top restaurants */
.restaurant_details {
    text-decoration: none;
    color: black;
}

.restaurant_details:hover {
    text-decoration: none;
    color: black;
}

.restaurant-cards {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, auto);
    margin: auto;
}

.restaurant-card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(239, 239, 239, 0.112);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.133);
    margin-top: 20px;
    border-radius: 9px;
    background: #ffffff;
    box-shadow: 5px 5px 11px #dbdbdb,
        -5px -5px 11px #ffffff;

}

.restaurant-card:hover {
    background-color: rgba(237, 237, 237, 0.547);
}

.restaurant-card>img {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.card-body {
    width: 100%;
}

.card-title {
    font-size: 20px;
}

.product-cash {
    opacity: 0.5;
}

.checked {

    color: orange;
}

.chairs {
    font-size: 12px;
}

/* end */

/* restaurant for you */
.restaurant-for-you {
    margin-bottom: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;

}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;

}

/* end */
@media (max-width:1280px) {
    .restaurant-cards {
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width:1050px) {
    .restaurant-cards {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width:800px) {
    .restaurant-cards {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width:550px) {
    .restaurant-cards {
        grid-template-columns: repeat(1, auto);
    }
}