/* top restaurants */
.restaurant-cards {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, auto);
    margin: auto;
}

.restaurant-card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.restaurant-card>img {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.card-body {
    width: 100%;
}

.card-title {
    font-size: 20px;
}

.product-cash {
    opacity: 0.5;
}

.checked {

    color: orange;
}

.chairs {
    font-size: 12px;
}