{{!-- nav bar source= bootsrap --}}

<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand font-weight-bold" href="/admin/dashboard">Food Zone<small
            style="font-size: 10px; ">Admin</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            {{!-- dropdown --}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">Dash Board <i
                        class="fa-sharp fa-solid fa-cart-shopping"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">users <i class="fa-solid fa-user"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/restaurants">Restaurant<i class="fa-solid fa-hotel"></i></a>
            </li>
            <div class="dropdown show mt-2  ">
                <a class=" dropdown-toggle " style="border:none; color: black; text-decoration: none;" href="#"
                    role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    more option
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="nav-link" href="/admin/banned-restaurants">banned restaurants <i
                            class="fa-solid fa-hotel"></i></a>
                    <a class="nav-link" href="/admin/new-restaurants">new restaurants <i
                            class="fa-solid fa-hotel"></i></a>
                    <a class="nav-link" href="/admin/categories">categories</a>
                </div>
            </div>
            {{#if admin}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/logout" tabindex="-1" aria-disabled="true">Logout<i
                        class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            {{else}}
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="/admin/login" tabindex="-1" aria-disabled="true">Login<i
                        class="ml-2 fa-solid fa-right-to-bracket"></i></a>
            </li>
            {{/if}}

        </ul>
    </div>
</nav>

<style>
    #dropdownMenuLink:hover {
        outline: none;
        border: none;
    }

    .nav-link:hover {
        background-color: rgb(241, 241, 241);
    }
</style>