<footer class="footer ">
    <div class="header">
        <h1>Food Zone</h1>
    </div>
    <div class="social-meadia">
        <p>find the best reestaurants,Deals,Discount"&AMP;"offers
            <span>contacts:+14798983989</span>
            <span>© 2023, Foodzone.in. All Rights Reserved.</span>
        </p>

    </div>
</footer>
<link rel="stylesheet" href="/css/footer/footer.css">