<section class="admin_dash_board row mt-5 ">
    <div class="graph  col-lg-12 d-flex-column">
        <h4>sales summery</h4>
        <div style="
        position: relative;
        margin: auto;
        height: 100%;
        width: 80vw;
        " class="d-flex-column">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="restaurant_user_order_status col-lg-12 row m-auto mt-5 justify-content-around">
        <div class="card col-12 col-sm-6 col-md-4 m-2" style="max-width: 18rem;">
            <div class="card-body">

                <h5 class="card-title"><i class="fa-solid fa-user"></i></h5>
                <h5 class="card-title">total user</h5>
                <h5 class="card-title">2</h5>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-4 m-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-user"></i></h5>
                <h5 class="card-title">users in this month</h5>
                <h5 class="card-title">2</h5>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-4 m-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h5>
                <h5 class="card-title">Total orders</h5>
                <h5 class="card-title">1</h5>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-4 m-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h5>
                <h5 class="card-title">Canceled orders</h5>
                <h5 class="card-title">2</h5>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Jan', 'Feb', 'March', 'April', 'May', 'jun'],
            datasets: [{
                label: 'orders',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }, {
                label: 'users',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }, {
                label: 'restaurants',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        responsive: true,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>