<section class="container-fluid admin_dash_board row mt-5">
    <div class="graph  col-12 d-flex-column">
        <h4>sales summery</h4>
        <div style="position: relative;height: 100% !important;width: 100% !important;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="restaurant_user_order_status col-12 row m-auto mt-5 justify-content-between">
        <div class="card col-12 col-sm-6 col-md-4 m-2" style="max-width: 18rem;">
            <div class="card-body">

                <h5 class="card-title"><i class="fa-solid fa-user"></i></h5>
                <h5 class="card-title">total user</h5>
                <h5 class="card-title">{{totalUsers}}</h5>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-4 m-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-user"></i></h5>
                <h5 class="card-title">users in this month</h5>
                <h5 class="card-title">{{totalUsersInMonth}}</h5>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-4 m-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h5>
                <h5 class="card-title">Total restaurant</h5>
                <h5 class="card-title">{{totalRestaurants}}</h5>
            </div>
        </div>
        <div class="card col-12 col-sm-6 col-md-4 m-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-cart-shopping"></i></h5>
                <h5 class="card-title">restaurants in this month</h5>
                <h5 class="card-title">{{totalRestaurantsInMonth}}</h5>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
    window.addEventListener('DOMContentLoaded', () => {
        fetch('/admin/get-month-wise-data').then((res) => res.json()).then((chartData) => {
            console.log(chartData.orderChart[0].data)
            const ordersKeys = Object.keys(chartData.orderChart[0].data)
            const ordersData = ordersKeys.map((key, index) => chartData.orderChart[0].data[key])
            const usersKeys = Object.keys(chartData.userChart[0].data)
            const usersData = usersKeys.map((key, index) => chartData.userChart[0].data[key])
            const restaurantKeys = Object.keys(chartData.restaurantChart[0].data)
            const restaurantData = restaurantKeys.map((key, index) => chartData.restaurantChart[0].data[key])
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ordersKeys,
                    datasets: [{
                        label: 'orders',
                        data: ordersData,
                        borderWidth: 1
                    }, {
                        label: 'users',
                        data: usersData,
                        borderWidth: 1
                    }, {
                        label: 'restaurants',
                        data: restaurantData,
                        borderWidth: 1
                    }]
                },
                responsive: true,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        })
    })
</script>