{{!-- update tables --}}

<body>
    <div class="container-fluid tm-mt-big tm-mb-big d-flex align-items-center justify-content-center "
        style="height: 85vh;">
        <div class="row service w-100">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="text-right mt-5">add service</h4>
                    </div>
                    <form id="add_service" action="/restaurant/add-service" method="post">
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <div id="error" class="w-100 d-flex">
                                    {{#if err}}
                                    <div class="w-100 alert alert-warning" role="alert">
                                        {{err}}
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-md-12 d-flex-column">
                                <input id="title" type="text" class="form-control mb-2" value=""
                                    onkeyup="validateTitle(this.value)" name="title" placeholder="enter the title">
                                <small id="titleError" class="w-100" style="height: 10px; color: red;"></small>
                                <label class="labels w-100">title</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <input type="submit" class="mt-2 btn btn-primary form-control" value="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const formValue = document.getElementById('title').value
    function validateTitle(formValue) {
        const regx = /[a-zA-Z]+[a-zA-Z ]+[a-zA-Z]$/;
        if (formValue.length <= 0) {
            document.getElementById('error').innerHTML = `<div class="w-100 alert alert-warning" role="alert">
                                enter the service
                            </div>`
            return false
        }
        if (!regx.test(formValue)) {
            document.getElementById('error').innerHTML = `<div class="w-100 alert alert-warning" role="alert">
                                enter the service properly
                            </div>`
            return false
        } else {
            document.getElementById('error').innerText = ""
            return true
        }
    }
    const input = document.getElementsByTagName('input'),
        description = document.getElementById('description'),
        form = document.getElementById('add_service')
    form.addEventListener('submit', (e) => {
        if (input[0].value.length <= 0) {
            e.preventDefault()
            document.querySelector('#titleError').innerText = "please enter the title"
            return false
        }
        const value = document.getElementById('title').value
        const status = validateTitle(value)
        return status
    })
    function trimfield(str) {
        return str.replace(/^\s+|\s+$/g, '');
    }
</script>
<style>
    .service input:not([type=submit]),
    .service textarea {
        color: black;
        border-radius: 5px;
        border: none;
        border: 0.2px solid rgba(0, 0, 0, 0.081);
        border-bottom: 1px solid rgba(95, 95, 95, 0.248);
        margin-top: 20px;
    }

    .service textarea::-webkit-scrollbar {
        display: none;
    }

    .service input:not([type=submit])::placeholder {
        color: rgba(108, 108, 108, 0.419);
    }

    .service label:not([for="file"]) {
        color: rgba(44, 44, 44, 0.704);
    }

    .service select {
        color: black;
        border-radius: 0;
        border: 1px solid rgba(95, 95, 95, 0.248);
        margin-top: 20px;
    }

    .service input:not([type=submit]):focus,
    .service textarea:focus,
    .service select:focus {
        border-bottom: 2px solid rgba(25, 151, 0, 0.8);
        box-shadow: none;
        outline: 0 none;
        background-color: transparent;
    }
</style>