<section>
    <div class="restaurant_login_page">
        <div class="restaurant_login_header">
            <h4>forgot password</h4>
        </div>
        <form action="/restaurant/verify-forgot-password" method="post">
            <div class="restaurant_login_inputs">
                <input type="email" id="email" name="email" placeholder="Enter the restaurant email" required>
                <label for="email">email</label>
                <input type="password" name="otp" placeholder="Enter the otp">
                <label for="password">otp</label>
                <input type="button" class="w-100 mt-2 btn btn-outline-success" value="send otp"
                    onclick="generateOtp()">
            </div>
            <div class="restaurant_login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" value="restaurant login">
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/restaurant/login.css">
<script>
    function generateOtp() {
        const email = document.querySelector('#email').value
        if (email.length > 0) {
            console.log(email)
            fetch(`http://localhost:3000/restaurant/${email}/send-verification-otp/forgot-password`, {
                method: "POST"
            }).then((response) => response.json()).then((result) => {
                console.log(result)
                    alert(result.message)
            }).catch((err) => {
                alert("something went wrong")
            })
        } else {
            alert("enter the email")
        }
    }
</script>