{{!-- <section>
    <div class="restaurant_login_page d-flex w-100 vh-100 justify-content-center align-items-center">
        <div class="restaurant_login_header">
            <h4 class="d-flex justify-content-center align-items-center">login</h4>
             <small id="error" style="height: 20px; width: 20px; color: red;">{{err}}</small>
        </div>
        <form action="/restaurant/login" method="post">
            <div class="restaurant_login_inputs">
                <div>
                    <input type="email" onkeyup="emailValidation(this.value)" name="email"
                        placeholder="Enter the restaurant email">
                    <label for="email">name</label>
                </div>
                <div>
                    <input type="password" name="password" onkeyup="passwordValidation()" placeholder="Enter the password">
                    <label for="password">password</label>
                </div>
                <label for="">
                    <a href="/restaurant/forgot-password" class="">Forgot
                        password?</a>
                </label>
            </div>
            <div class="restaurant_login_button">
                <input type="submit"  class="w-50 mt-2 btn btn-outline-warning" id=""
                    value="restaurant login">
                <label for="forgot_password">Don't have an account? <a href="/restaurant/signup"
                        class="">Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/restaurant/login.css">
<script>
    const inputs = document.getElementsByTagName("input")
    const error = document.getElementById("error")
    const form = document.querySelector("form")

    form.addEventListener("submit", (e) => {
        if (inputs[0].value?.length <= 0) {
            e.preventDefault()
            error.innerText = "enter the email"
            return false
        }
        const regx = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/
        if (!regx.test(inputs[0].value)) {
            e.preventDefault()
            error.innerText = "enter valid email"
            return false
        }
        if (inputs[1].value?.length <= 0) {
            e.preventDefault()
            error.innerText = "enter the password"
            return false
        }
        if ((inputs[1].value?.length >= 10) || (inputs[1].value?.length <= 5)) {
            e.preventDefault()
            error.innerText = "enter the password between 5 - 10"
            return false
        }
    })
    function emailValidation(email) {
        console.log(email)
        if (email?.length <= 0) {
            error.innerText = "enter the email"
            return
        }
        const regx = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/
        if (!regx.test(email)) {
            error.innerText = "enter the valid email"
            return
        }
        error.innerText = ""
    }
    function passwordValidation() {
        if (inputs[1].value?.length <= 0) {
            error.innerText = "enter the password"
            return
        }
        if ((inputs[1].value?.length >= 10) || (inputs[1].value?.length <= 5)) {
            error.innerText = "enter the password between 5 - 10"
            return false
        }
        error.innerText = ""
    }
</script> --}}

<section class="login_page  vh-">
    <div class="bg-primary text-white w-100">
        <h4 class="p-2 text-center">Foodzone</h4>
    </div>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <form id="form" class="" action="/restaurant/login" method="post" style="max-width: 500px; min-width: 500px">
            <h4 class="text-center">Login</h4>
            <div class=" mb-4" id="error">
                {{#if err}}
                <div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>{{err}}
                </div>
                {{/if}}
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" name="email" id="email" class="form-control" />
                <label class="form-label" for="email">Email address</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password" id="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
            </div>
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">

                <div class="col">
                    <!-- Simple link -->
                    <a href="/forgot-password">Forgot password?</a>
                </div>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="/signup">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating ">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating ">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating ">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating ">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    function generateError(Text) {
        return ` <div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>${Text}
                </div>`
    }
    const error = document.getElementById('error')
    const form = document.getElementById('form')
    const inputs = document.querySelectorAll('input')
    form.addEventListener("submit", (e) => {
        console.log(inputs)
        if (inputs[0].value?.length <= 0) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the email")
            return false
        }
        const regx = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/
        if (!regx.test(inputs[0].value)) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter valid email")
            return false
        }
        if (inputs[1].value?.length <= 0) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the password")
            return false
        }
        if (inputs[1].value?.length >= 10) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the password between 5 - 10")
            return false
        }
        if ((inputs[1].value?.length <= 5)) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the password between 5 - 10")
            return false
        }
    })
</script>