<section>
    <div class="restaurant_login_page">
        <div class="restaurant_login_header">
            <h4>restaurant login</h4>
        </div>
        <form action="restaurant_login" method="post">
            <div class="restaurant_login_inputs">
                <input type="email" name="email" placeholder="Enter the restaurant email" required>
                <label for="email">name</label>
                <input type="password" name="password" placeholder="Enter the password">
                <label for="password">password</label>
                <label for="forgot_password"><a href="" class="">Forgot password?</a></label>
            </div>
            <div class="restaurant_login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" id="" value="restaurant_login">
                <label for="forgot_password">Don't have an account? <a href="restaurant_signup" class="">Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/restaurant/login.css">