<section>
    <div class="restaurant_login_page d-flex w-100 vh-100 justify-content-center align-items-center">
        <div class="restaurant_login_header">
            <h4 class="d-flex justify-content-center align-items-center">login</h4>
            {{#if err}}
            <small id="error" style="height: 30px; color: red;">{{err}}</small>
            {{/if}}
            <small id="error" style="height: 30px; color: red;"></small>
        </div>
        <form action="/restaurant/login" method="post">
            <div class="restaurant_login_inputs">
                <div>
                    <input type="email" name="email" placeholder="Enter the restaurant email">
                    <label for="email">name</label>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Enter the password">
                    <label for="password">password</label>
                </div>
                <label for="">
                    <a href="/restaurant/forgot-password" class="">Forgot
                        password?</a>
                </label>
            </div>
            <div class="restaurant_login_button">
                <input type="submit" class="w-50 mt-2 btn btn-outline-warning" id="" value="restaurant login">
                <label for="forgot_password">Don't have an account? <a href="/restaurant/signup"
                        class="">Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/restaurant/login.css">
<script>
    const form = document.querySelector('form')
    const inputs = document.getElementsByTagName('input')
    const error = document.getElementById('error')
    form.addEventListener('submit', (e) => {
        if (inputs[0].value <= 0) {
            e.preventDefault()
            error.innerText = "enter the email"
            return false
        }
        if (inputs[1].value <= 0) {
            e.preventDefault()
            error.innerHTML = "enter the password"
            return false
        }
    })
</script>