<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 text-center">
            <div class="row">
                <div class="col-sm-12 mt-5 bgWhite">
                    <div class="title">
                        Verify OTP
                    </div>
                    <form action="validate_otp" method="post" class="mt-5" onsubmit="return otpInputField()">
                        <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1>
                        <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1>
                        <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1>
                        <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(4)' maxlength=1>
                        <input type="text" id="otp" name="otp" hidden>
                        <hr class="mt-4">
                        <input class='btn btn-outline-warning text-dark btn-block mt-4 mb-4 customBtn' type="submit"
                            value="Verify">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/restaurant/otpValidation.css">
<script>
    function otpInputField() {
        const otps = document.querySelectorAll('input');
        const otp = document.querySelector('#otp')
        otp.value = String(otps[0].value + otps[1].value + otps[2].value + otps[3].value)
        if (otp.value.length === 4) {
            return true
        } else {
            return false
        }
    }
    let digitValidate = function (ele) {
        console.log(ele.value);
        ele.value = ele.value.replace(/[^0-9]/g, '');
    }
    let tabChange = function (val) {
        let ele = document.querySelectorAll('input');
        if (ele[val - 1].value != '') {
            ele[val].focus()
        } else if (ele[val - 1].value == '') {
            ele[val - 2].focus()
        }
    }


</script>