<section class="profile">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px" src="{{user.profile_pic}}"><span class="font-weight-bold">name</span><span
                        class="text-black-50">edogaru@mail.com.my</span><span>
                    </span></div>
            </div>
            <div class="col-lg-6 border-right">
                <div class="p-3 py-5">
                    <form action="">

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">restaurant profile</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">user name</label><input type="text"
                                    class="form-control" placeholder="first name" value=""></div>
                            <div class="col-md-6"><label class="labels">email</label><input type="text"
                                    class="form-control" value="" placeholder="surname"></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">phone</label><input type="text"
                                    class="form-control" placeholder="first name" value=""></div>
                            <div class="col-md-6"><label class="labels">table</label><input type="text"
                                    class="form-control" value="" placeholder="surname"></div>
                        </div>
                        <div class="row mt-2">
                             <div class="col-md-6"><label class="labels">chair</label><input type="text"
                                    class="form-control" value="" placeholder="surname"></div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="description">Description</label>
                                <textarea class="form-control validate" rows="1" required></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><input type="submit" class="mt-2 btn btn-outline-warning form-control"
                                    placeholder="first name" value="save details"></div>
                        </div>
                    </form>
                    <form action="">
                        <div class="mt-4 d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">change password</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">current password</label>
                                <input type="text" class="form-control" placeholder="first name" value="">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">new password</label>
                                <input type="text" class="form-control" value="" placeholder="surname">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">confirm new password</label>
                                <input type="text" class="form-control" placeholder="first name" value="">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 mt-2">
                                <input type="submit" class=" btn btn-outline-warning form-control"
                                    placeholder="First name" value="save details">
                            </div>
                        </div>
                        <div class="mt-4 d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">delete account</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex-column">
                                <label class="labels">confirm password</label><br>
                                <small class="text-danger">Deleting your account is a permanent action
                                    and cannot be undone. If you are sure you
                                    want to delete your account, select the button
                                    below.</small>
                                <input type="text" class="form-control" placeholder="First name" value="">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 mt-2">
                                <input type="submit" class=" btn btn-outline-warning form-control"
                                    placeholder="first name" value="save details">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>