<section>
    <div class="signup_page">
        <div class="signup_header">
            <h4>signup</h4>
        </div>
        <form action="restaurant_signup" method="post">
            <div class="signup_inputs">
                <input type="text" name="restaurant_name" placeholder="Enter the name">
                <label for="name">name</label>
                <input type="email" name="email" placeholder="Enter the Email address">
                <label for="email">Email</label>
                <input type="password" name="password" id="" placeholder="Enter the password">
                <label for="password">password</label>
                <input type="password" name="confirm_password" id="" placeholder="Confirm password">
                <label for="password">Confirm password</label>
            </div>
            <div class="signup_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" name="" id="" value="signup">
                <label for="forgot_password">Already have an account? <a href="restaurant_login" class="" >Login</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/restaurant/signup.css">