.footer{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.485);
}
.header{
    font-size: 10px;
    color: orange;
} 
.social-meadia>p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}