<section>
    <div class="restaurant_login_page">
        <div class="restaurant_login_header">
            <h4>change password</h4>
        </div>
            <p id="error" class="text-danger"></p>
        <form action="/change-password/{{userId}}" method="post">
            <div class="restaurant_login_inputs">
                <input type="password" id="password" onkeyup="passwordValidation(this.value)" name="password"
                    placeholder="Enter the password" required>
                <label for="email">password</label>
                <input type="password" name="confirm_password" onkeyup="passwordValidation(this.value)"
                    placeholder="confirm password" required>
                <label for="password">confirm password</label>
            </div>
            <div class="restaurant_login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" value="change password">
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/restaurant/login.css">
<script>
    const error = document.getElementById("error")
    function passwordValidation(password) {
        if (password?.length <= 0) {
            error.innerText = "enter the password"
            return
        }
        if ((password?.length >= 10) || (password?.length <= 5)) {
            error.innerText = "enter the password between 5 - 10"
            return false
        }
        error.innerText = ""
    }
</script>