<section>
    <div class="change_password_page">
        <div class="change_password_header">
            <h4>change password</h4>
        </div>
        <form action="">
            <div class="change_password_inputs">
                <input type="text" name="username" placeholder="Enter the name">
                <label for="name">new password</label>
                <input type="email" name="username" placeholder="Enter the Email address">
                <label for="email">confirm new password</label>
            </div>
            <div class="change_password_button">
                <input type="submit" class="mt-2 btn btn-outline-warning" name="" id="" value="change password">
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="css/user/changePassword.css">