<section style="height: 85vh;" class="d-flex justify-content-center align-items-center">
    <div class="restaurant_login_page">
        <div class="restaurant_login_header">
            <h4>user forgot password</h4>
        </div>
        <form action="/verify-forgot-password" method="post">
            <div class="restaurant_login_inputs">
                <input type="email" id="email" name="email" placeholder="Enter the user email" required>
                <label for="email">name</label>
                <input type="password" name="otp" placeholder="Enter the otp">
                <label for="password">otp</label>
                <input type="button" class="w-100 mt-2 btn btn-outline-success" value="send otp"
                    onclick="generateOtp()">
            </div>
            <div class="restaurant_login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" value="restaurant login">
                <label for="forgot_password">Don't have an account? <a href="restaurant_signup"
                        class="">Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/restaurant/login.css">
<script>
    function generateOtp() {
        const email = document.querySelector('#email').value
        if (email.length > 0) {

            console.log(email)
            const baseurl = window.location.origin
            fetch(`/${email}/send-otp/forgot-password`, {
                method: "post"
            }).then((response) => response.json()).then((result) => {
                console.log(result)
                if (result.status) {
                    new swal({
                        text: result.message,
                        icon: "warning",
                    })
                } else {
                    new swal({
                        text: result.message,
                        icon: "warning",
                    })
                }
            }).catch((err) => {
                new swal({
                    text: "something went wrong",
                    icon: "warning",
                })
            })
        } else {
            new swal({
                text: "enter the email",
                icon: "warning",
            })
        }
    }
</script>