<section>
    <div class="restaurant_login_page">
        <div class="restaurant_login_header">
            <h4>user forgot password</h4>
        </div>
        <form action="/verify-forgot-password" method="post">
            <div class="restaurant_login_inputs">
                <input type="email" id="email" name="email" placeholder="Enter the user email" required>
                <label for="email">name</label>
                <input type="password" name="otp" placeholder="Enter the otp">
                <label for="password">otp</label>
                <input type="button" class="w-100 mt-2 btn btn-outline-success" value="send otp"
                    onclick="generateOtp()">
            </div>
            <div class="restaurant_login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" value="restaurant login">
                <label for="forgot_password">Don't have an account? <a href="restaurant_signup"
                        class="">Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="/css/restaurant/login.css">
<script>
    function generateOtp() {
        const email = document.querySelector('#email').value
        if (email.length > 0) {

            console.log(email)
            fetch(`http://localhost:3000/${email}/send_otp`, {
                method: "POST"
            }).then((response) => response.json()).then((result) => {
                console.log(result)
                if (result.status) {
                    alert(result.message)
                } else {
                    alert(result.message)
                }
            }).catch((err) => {
                alert("something went wrong")
            })
        } else {
            alert("enter the email")
        }
    }
</script>