<section class="login_page  vh-">
    <div class="bg-primary text-white w-100">
        <h4 class="p-2 text-center">Foodzone</h4>
    </div>
    <div class="vh-100  d-flex justify-content-center align-items-center">
        <form id="form" style="max-width: 500px; min-width: 500px" action="/{{userId}}/validate-otp" method="post">
            <h4 class="text-center">Forgot password</h4>
            <div class=" mb-4 d-flex justify-content-center">
                <button type="button" id="dark" class="btn btn-secondary btn-rounded m-1  w-50"><span
                        id="otpCounterLive">Time</span></button>
            </div>
            <div class=" mb-4" id="error">
                {{#if err}}
                <div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>{{err}}
                </div>
                {{/if}}
            </div>
            <input type="text" id="otpCounter" value="{{otpCount}}" hidden>
            <!-- Email input -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email address" aria-label="Enter email address"
                    aria-describedby="button-addon2" />
                <button class="btn btn-primary" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                    Generate OTP
                </button>
            </div>
            <!-- otp input -->
            <div class="form-outline mb-4">
                <input type="text" name="otp" id="otp" class="form-control" />
                <label class="form-label" for="otp">OTP</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            <button type="button" onclick="resendOtpRestaurnt('{{userEmail}}')"
                class="btn btn-primary btn-block mb-4">Resend Otp</button>

        </form>
    </div>
</section>
<script>
    function generateError(Text) {
        return `<div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>${Text}
                </div>`
    }
    function generateSuccess(Text) {
        return `<div class="alert alert-success" role="alert" data-mdb-color="success">
                     <i class="fas fa-check-circle me-3"></i>${Text}
                </div>`
    }
    const error = document.getElementById('error')
    const form = document.getElementById('form')
    const inputs = document.querySelectorAll('input')
    form.addEventListener("submit", (e) => {
        console.log(inputs[1].value?.length)
        if (inputs[1].value?.length <= 0) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the email")
            return false
        }
        const regx = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/
        if (!regx.test(inputs[1].value)) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter valid email")
            return false
        }
        if (inputs[2].value?.length > 4) {
            e.preventDefault()
            error.innerHTML = generateError("Atleast 4 digit is permitted for OTP")
            return false
        }
        if (inputs[2].value?.length < 1) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the OTP")
            return false
        }
        error.innerHTML = ""
    })
</script>