<section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="login_page">
        <div class="login_header">
            <h4 class="d-flex justify-content-center">login</h4>
            <small id="error" style="height: 20px; width: 20px; color: red;"></small>
        </div>
        <form action="/login-with-otp" method="post">
            <div class="login_inputs">
                <input type="email" name="email" placeholder="Enter the email">
                <label for="name">name</label>
                <label for="forgot_password"><a href="/forgot-password" class="">Forgot password?</a></label>
                <label for="forgot_password"><a href="/login-with-otp" class="">login with otp</a></label>
            </div>

            <div class="login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" name="" id="" value="LOGIN">
                <label for="forgot_password">Don't have an account? <a href="/signup" class="">Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="css/user/login.css">
<script>
    const inputs = document.getElementsByTagName("input")
    const error = document.getElementById("error")
    const form = document.querySelector("form")
    console.log(inputs[0].value)
    form.addEventListener("submit", (e) => {
        if (input[0].value <= 0) {
            if (inputs[0].value?.length <= 0) {
                e.preventDefault()
                error.innerText = "enter the email"
                return false
            }
        }
        if (inputs[1].value?.length <= 0) {
            e.preventDefault()
            error.innerText = "enter the password"
            return false
        }
    })
</script>