<section>
    <div class="login_page">
        <div class="login_header">
            <h4>login</h4>
        </div>
        <form action="">
            <div class="login_inputs">
                <input type="text" name="username" placeholder="Enter the name">
                <label for="name">name</label>
                <input type="password" name="password" id="" placeholder="Enter the password">
                <label for="password">password</label>
                <label for="forgot_password"><a href="" class="" >Forgot password?</a></label>
            </div>

            <div class="login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" name="" id="" value="LOGIN">
                <label for="forgot_password">Don't have an account? <a href="/user_signup" class="" >Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="css/user/login.css">