<section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="login_page">
        <div class="login_header">
            <h4 class="d-flex justify-content-center">login</h4>
            <small id="error" style="height: 20px; width: 20px; color: red;"></small>
        </div>
        <form action="/login" method="post">
            <div class="login_inputs">
                <input type="email" name="email" id="email" onkeyup="emailValidation(this.value)"
                    placeholder="Enter the email">
                <label for="name">name</label>
                <input type="password" name="password" id="" onkeyup="passwordValidation()"
                    placeholder="Enter the password">
                <label for="password">password</label>
                <label for="forgot_password"><a href="/forgot-password" class="">Forgot password?</a></label>
                <label for="forgot_password"><a href="/login-with-otp" class="">login with otp</a></label>
            </div>

            <div class="login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" name="" id="" value="LOGIN">
                <label for="forgot_password">Don't have an account? <a href="/signup" class="">Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="css/user/login.css">
<script>
    const inputs = document.getElementsByTagName("input")
    const error = document.getElementById("error")
    const form = document.querySelector("form")

    form.addEventListener("submit", (e) => {
        if (inputs[0].value?.length <= 0) {
            e.preventDefault()
            error.innerText = "enter the email"
            return false
        }
        const regx = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/
        if (!regx.test(inputs[0].value)) {
            e.preventDefault()
            error.innerText = "enter valid email"
            return false
        }
        if (inputs[1].value?.length <= 0) {
            e.preventDefault()
            error.innerText = "enter the password"
            return false
        }
        if ((inputs[1].value?.length >= 10) || (inputs[1].value?.length <= 5)) {
            e.preventDefault()
            error.innerText = "enter the password between 5 - 10"
            return false
        }
    })
    function emailValidation(email) {
        console.log(email)
        if (email?.length <= 0) {
            error.innerText = "enter the email"
            return
        }
        const regx = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/
        if (!regx.test(email)) {
            error.innerText = "enter the valid email"
            return
        }
        error.innerText = ""
    }
    function passwordValidation() {
        if (inputs[1].value?.length <= 0) {
            error.innerText = "enter the password"
            return
        }
        if ((inputs[1].value?.length >= 10) || (inputs[1].value?.length <= 5)) {
            error.innerText = "enter the password between 5 - 10"
            return false
        }
        error.innerText = ""
    }
</script>