<section class="login_page  vh-">
    <div class="bg-primary text-white w-100">
        <h4 class="p-2 text-center">Foodzone</h4>
    </div>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <form id="form" class=" w-75" action="/{{userId}}/validate-otp" method="post">
            <h4 class="text-center">OTP verification</h4>
            <div class=" mb-4 d-flex justify-content-center">
                <button type="button" id="dark" class="btn btn-dark m-1  w-50"><span
                        id="otpCounterLive">Time</span></button>
            </div>
            <div class=" mb-4" id="error">
                {{#if err}}
                <div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>{{err}}
                </div>
                {{/if}}
            </div>
            <input type="text" id="otpCounter" value="{{otpCount}}" hidden>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" name="otp" id="otp" class="form-control" />
                <label class="form-label" for="otp">OTP</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            <button type="button" onclick="resendOtpRestaurnt('{{userEmail}}')"
                class="btn btn-primary btn-block mb-4">Resend Otp</button>

        </form>
    </div>
</section>

<script type="text/javascript">
    function generateError(Text) {
        return `<div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>${Text}
                </div>`
    }
    function generateSuccess(Text) {
        return `<div class="alert alert-success" role="alert" data-mdb-color="success">
                     <i class="fas fa-check-circle me-3"></i>${Text}
                </div>`
    }
    const error = document.getElementById('error')
    const form = document.getElementById('form')
    const inputs = document.querySelectorAll('input')
    form.addEventListener("submit", (e) => {
        console.log(inputs[0].value?.length)
        if (inputs[1].value?.length <= 0) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the Otp")
            return false
        }
        if (inputs[1].value?.length > 4) {
            e.preventDefault()
            error.innerHTML = generateError("Atleast 4 digit is permitted")
            return false
        }
    })

    const otpCounterLive = document.getElementById('otpCounterLive')
    const verifyOtp = document.querySelector('#verify_otp')
    const resendOtp = document.querySelector('#resend_otp')
    let otpTimer;
    //start counter when dom content load
    window.addEventListener('DOMContentLoaded', () => {
        const otpCounter = document.getElementById('otpCounter').value
        setCountDown(otpCounter)
    })
    //counter function
    function setCountDown(otpTime) {
        otpTimer = setInterval(() => {
            const now = new Date().getTime()
            const date = new Date(otpTime).getTime()
            const timeleft = date - now
            const minute = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
            if (minute < 0) {
                otpCounterLive.innerText = "otp expired"
                clearInterval(otpTimer)
            } else {
                otpCounterLive.innerText = minute + " Minutes : " + seconds + " Seconds left"
            }
        }, 1000)
    }
    //resend otp when resend button click
    function resendOtpRestaurnt(userEmail) {
        clearInterval(otpTimer)
        fetch(`/${userEmail}/send-otp/verify-profile`, {
            method: 'POST'
        }).then((response) => response.json()).then((response) => {
            if (response.status) {
                error.innerHTML = generateSuccess("Otp send to " + userEmail)
                setCountDown(response.otpTime)
            } else {
                alert(response.message)
            }
        }).catch(() => {
            alert(response.message)
        })
    }
</script>