<section style="height: 85vh;">
    <div class="login_page">
        <div class="login_header d-flex-column justify-content-center">
            <h4 class="d-flex justify-content-center">OTP verification</h4>
            <small class="text-danger">please enter the one time password to verify your account <br>A one time password ha been sent to
                your email</small>
        </div>
        <form action="">
            <div class="login_inputs">
                <input type="text" name="username" placeholder="Enter the name">
                <label for="name">OTP</label>
            </div>
            <div class="login_button">
                <input type="submit" class="w-100 mt-2 btn btn-outline-warning" name="" id="" value="LOGIN">
                <label for="forgot_password">Don't have an account? <a href="/user_signup" class="">Signup</a></label>
            </div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="css/user/otpVerification.css">