<section class="search_and_filter_restaurants row w-100 ">
    <div class="input-group mb-3 col-6 mt-5">
        <div class="dropdown">
            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <form class="form-inline col-6 mt-5 just-content-end">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</section>
<section class="top-restaurants">
    <h4>Top Restaurants</h4>
    <div class="restaurant-cards">
        {{#each restaurants}}
        <a class="restaurant_details" href="restaurant/{{this.id}}" style="text-decoration: none;">
            <div class="swiper-slide slide_1 d-flex justify-content-center">
                <div class="restaurant-card" style="">
                    <div class="restaurant-image">
                        <img src="/images/banner.jpg" style="" alt="">
                    </div>
                    <div class="restauarnt-card-body">
                        <h6>restaurant <span class="product-cash">$2000</span></h6>
                        <span>XXXXX</span>
                        <h6><span>4</span>table<span> 2</span>chair</h6>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</section>
<link rel="stylesheet" href="css/user/searchRestaurants.css">