<section class="login_page  vh-">
    <div class="bg-primary text-white w-100">
        <h4 class="p-2 text-center">Foodzone</h4>
    </div>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <form id="form" style="max-width: 500px; min-width: 500px" action="/signup" method="post">
            <h4 class="text-center">Signup</h4>
            <div class="mb-4" id="error">
                {{#if err}}
                <div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>{{err}}
                </div>
                {{/if}}
            </div>
            <!-- Name input -->
            <div class="form-outline mb-4">
                <input type="text" name="username" id="form1" class="form-control" />
                <label class="form-label" for="form1">Name</label>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" name="email" id="form2" class="form-control" />
                <label class="form-label" for="form2">Email address</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password" id="form3" class="form-control" />
                <label class="form-label" for="form3">Password</label>
            </div>
            <!-- Confirm Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="confirm_password" id="form4" class="form-control" />
                <label class="form-label" for="form4">Password</label>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
            <!-- Register buttons -->
            <div class="text-center">
                <p>Already have an account <a href="/login">Login</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating ">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating ">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating ">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating ">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    function generateError(Text) {
        return ` <div class="alert alert-danger" role="alert" data-mdb-color="danger">
                    <i class="fas fa-times-circle me-3"></i>${Text}
                </div>`
    }
    const error = document.getElementById('error')
    const form = document.getElementById('form')
    const inputs = document.querySelectorAll('input')
    form.addEventListener("submit", (e) => {
        const regxName = /[a-zA-Z]+[a-zA-Z ]+[a-zA-Z]$/;

        if (!regxName.test(inputs[0].value)) {
            e.preventDefault()
            error.innerHTML = generateError("Enter name properly")
            return false
        }
        if (inputs[0].value?.length <= 0) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the name")
            return false
        }
         inputs[0].value = inputs[0].value.trim()
        
        if (!regxName.test(inputs[1].value)) {
            e.preventDefault()
            error.innerHTML = generateError("Enter email properly")
            return false
        }
        if (inputs[1].value?.length <= 0) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the email")
            return false
        }
        const regx = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/
        if (!regx.test(inputs[1].value)) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter valid email")
            return false
        }
        inputs[1].value = inputs[1].value.trim()
        
        if (inputs[2].value?.length <= 0) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the password")
            return false
        }
        if (inputs[2].value?.length >= 10) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the password between 5 - 10")
            return false
        }
        if ((inputs[2].value?.length <= 5)) {
            e.preventDefault()
            error.innerHTML = generateError("Please enter the password between 5 - 10")
            return false
        }
        inputs[2].value = inputs[2].value.trim()
        inputs[3].value = inputs[3].value.trim()
       
        return true

    })
</script>